*{margin:0; padding:0;}
body{font-family:sans-serif;}
#nav-bar{background-color:skyblue; position: sticky; top:0; z-index:10; }
.nav-link:hover{background-color: skyblue;}
.navbar{padding: 0 !important; background: darkcyan;}
.navbar-nav li{padding: 0 10px;}
/*.navbar-nav li a{color: skyblue !important; font-weight:600; float:right; text-align:left;}*/
.navbar-nav li a:hover{color:rgb(255, 255, 255) !important; font-weight:600; float:right; text-align:left;}
.fa-bars{color:#000; font-size:30px !important;}
.navbar-toggler{outline:none !important;}
#main{text-align: center; background:skyblue; background-size: cover; color:rgb(255, 255, 255); padding-top:5%;	}
.container h1 img{padding-bottom: 10px;}
#features1{text-align: center; padding: 10% 15%;}
 #features{text-align: center; color: white; padding: 10% 15%; background: skyblue;}
.features1 h3{padding:5px; margin-top:25px; text-transform:uppercase;}
.features h3{padding:5px; margin-top:25px; text-transform:uppercase;}
#action{background-color:#31326f; padding: 7% 15%; text-align: center; line-height: 1.5; color: #000;}
.main{font-size: 3rem; line-height: 1.5; padding: 10px 0px;}
.fa {padding: 20px;font-size: 30px; width: 30px; text-align: center; text-decoration: none; border-radius: 50%;}
#footer{background-color:skyblue; color:rgb(255, 255, 255); padding: 4% 25%; text-align: center;}
.home-button{background-color: rgb(226, 225, 225); color: black; border: 2px solid #000000; width: 25%;
font-size: 25px; border-radius: 25px; height: 75px; box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);}
.home-button:hover{background-color: #000000;color: white; transition: 0.3s;
box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);}
.bank-img{
   width: 30%;
   display: block;
   margin-left: auto;
   margin-right: auto;
}
.table-1{color: rgb(255, 255, 255);background-color: gray;}
.table-2{color: rgb(255, 255, 255);background-color: rgb(47, 44, 44);}
.full-table{color: red; background-color: #fff;}
.table thead th{color:skyblue;}
.table>:not(:last-child)>:last-child>* {color:skyblue;}
